/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}
/* variables */
:root {
  --container-color: #1a1e21;
  --second-color: #fd8f44;
  --text-color: #172317;
  --bg-color: #fff;
}

::selection {
  color: var(--bg-color);
  background: var(--second-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
/*header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: 0.4s;
}

header.shadow .logo {
  color: var(--text-color);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.logo span {
  color: var(--second-color);
}

.login {
  margin-right: -30px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background: var(--second-color);
  color: var(--bg-color);
}

.login:hover {
  background: hsl(24, 98%, 58%);
  transform: rotate(8deg); /*UNTUK ROTASI*/
  transition: 0.3s ease-in-out; /*UNTUK PROSES WAKTU TRANSISINYA*/
}

/* HOME */
.home {
  width: 100%;
  min-height: 550px;
  background-image: url(assets/homeee.png);
  background-size: cover; /* Menyesuaikan gambar untuk memenuhi area tanpa distorsi */
  background-position: center; /* Mengatur posisi gambar latar belakang */
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-text {
  color: var(--bg-color);
  text-align: center;
  color: var(--second-color);
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Atur latar belakang semi-transparan */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan teks */
}

.home-title {
  font-size: 3.5rem;
  color: #1a1e21;
}

.home-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #1a1e21;
}

/* Post Filter */
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.active-filter {
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

/* post */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box {
  padding: 15px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
}

.post-box:hover {
  translate: 0 -10px;
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: none;
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  /* To Remain Title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-title:hover {
  text-decoration: none;
  color: var(--container-color);
}

.post-date {
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}

.post-description {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5rem;
  margin: 5px 0 15px;
  /* To Remain Title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--container-color);
}

.profile-name {
  font-size: 0.82rem;
  font-weight: 500;
  color: #fd8f44;
  cursor: pointer;
}

/* Footer pada Blog MAIN*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.footer p {
  font-size: 0.938rem;
}

/*  */

.social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.social .bx {
  font-size: 1.4rem;
  color: var(--text-color);
}

.social .bx:hover {
  color: var(--second-color);
  transition: 0.3s all linear;
}

table,
th,
td {
  border: 1px solid black;
}

/* Post Content */
.post-header {
  width: 100%;
  height: 400px;
  background: var(--bg-color);
}

.post-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
}

.back-home {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background: var(--second-color);
  color: var(--bg-color);
  font-size: 0.9rem;
}

.back-home:hover {
  background: hsl(24, 98%, 58%);
  transition: 0.3s;
}

.header-title {
  width: 90%;
  font-size: 2.6rem;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 1rem;
}

.header-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: center;
}

.post-content {
  margin-top: 10rem !important;
}

.sub-heading1 {
  text-align: center;
  font-size: 1.5rem;
}
.sub-heading {
  font-size: 1.2rem;
}

.post-text2 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem;
  text-align: justify;
}
.post-text {
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}

.imgisi {
  display: flex;
  width: 600px; /* Ukuran gambar */
  margin-right: 20px; /* Jarak antara gambar dan pre */
}

.imgisi1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.preisi {
  flex: 1; /* Mengisi ruang tersisa */
  margin-left: 20px; /* Jarak antara pre dan gambar */
}

/* Share */
.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.share-title {
  font-size: 1.1rem;
}

.share-title a {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background: var(--second-color);
  color: var(--bg-color);
}

/* footer */
.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}

/* RESPONSIVEE */

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
  .home-text {
    width: 100%;
  }

  .bebas {
    margin: 1rem;
  }
  .post-text {
    margin: 1rem;
  }

  .post-text2 {
    margin: 1rem;
  }

  .sub-heading {
    margin: 1rem;
  }

  .h4 {
    margin: 1rem;
  }
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  .imgisi {
    flex-direction: column; /* Mengubah tata letak menjadi satu kolom */
    align-items: center; /* Posisikan elemen ke tengah */
    width: auto; /* Mengembalikan lebar gambar ke lebar aslinya */
  }

  .preisi {
    margin-left: 0; /* Hapus margin kiri */
    margin-top: 10px; /* Berikan margin atas untuk menjaga jarak antara gambar dan pre */
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 14px 0;
  }
  section {
    padding: 2rem 0;
  }
  h4 {
    margin: 1rem;
  }

  .header-content {
    margin-top: 3rem !important;
  }

  .home {
    min-height: 380px;
  }

  .home-title {
    font-size: 3rem;
  }

  .header-title {
    font-size: 2rem;
  }
  .header-img {
    height: 370px;
  }

  .post-header {
    height: 435px;
  }
  .post-content {
    margin-top: 9rem !important;
  }

  .post-text {
    margin: 1rem;
  }
  .post-text2 {
    margin: 1rem;
  }

  .sub-heading {
    margin-top: 1rem;
  }

  .imgisi1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .img1-text {
    font-size: 15px;
  }
}

@media (max-width: 570px) {
  .post-header {
    height: 390px;
  }
  .header-title {
    width: 100%;
  }
  .header-img {
    height: 340px;
  }

  h4 {
    margin: 1rem;
  }
  .bebas {
    margin: 1rem;
  }
  .post-text {
    margin: 1rem;
  }
  .post-text2 {
    margin: 1rem;
  }

  .post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem !important;
  }

  .sub-heading {
    margin: 1rem;
  }

  .footer {
    flex-direction: column;
    row-gap: 1rem;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 396px) {
  .home-title {
    font-size: 2rem;
  }
  .home-subtitle {
    font-size: 0.9rem;
  }
  .home {
    min-height: 300px;
  }
  .post-box {
    padding: 10px;
  }
  .header-title {
    font-size: 1.4rem;
  }

  .post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem !important;
  }

  .header-img {
    height: 240px;
  }
  .post-header {
    height: 335px;
  }

  .post-content {
    margin-top: 5rem !important;
  }

  .post-text {
    margin: 1rem;
  }

  .sub-heading {
    margin: 1rem;
  }
}

@media (max-width: 700px) {
  .home-text {
    color: var(--second-color); /* Warna teks hitam */
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* Warna latar belakang putih transparan */
    padding: 20px; /* Padding untuk menjaga jarak dari tepi */
    border-radius: 10px; /* Membuat sudut elemen melengkung */
    max-width: 80%; /* Maksimum lebar elemen agar tidak terlalu lebar */
    margin: 0 auto; /* Tengahkan elemen */
  }
  .home-tittle b {
    font-size: 18px;
  }
}

@media (max-width: 1135px) {
  .login {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .login {
    margin-right: 20px;
  }
}
